.heading{
    color: blue;
    font-size: 2rem;
}
.container,body,html{
    height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
/*    margin: 0 auto;*/
}
#form{
    margin: 0 auto;
}
.tp{
    position: absolute;
    z-index: -99;
background-image: url('./images/chuttersnap-kDDHfgS7Gjo-unsplash.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
    width: 100%;
opacity: 0.5;
}